*{
    padding: 0%;
    margin: 0%;
    background-color: antiquewhite;

}

#height{
    font-size: 30px;
    margin-top: 50px;
    
}
#weight{
    font-size: 30px;
    margin-top: 30px;
}
#result{
    font-size: 30px;
    margin-top: 30px;

}
input{
    height: 30px;
    font-size: 30px;
}
h2{
margin-top: 60px;

}
p{
    font-size: large;
    margin-top: 25px;
  
}
button{
    size: 20px;
    margin-top: 40px;
    font-size: 30px;
    background-color: beige;
    
}
#calculate{
    display: flex;
    justify-content: center;
}
#result{
     display: flex;
    justify-content: center;
}
#resetid{
    display: flex;
    justify-content: center;
    font-size: 30px;
}